registry=https://registry.npmmirror.com/
@tecq:registry=http://192.168.1.65:8081/repository/npm-private-registry
//192.168.1.65:8081/repository/:_authToken=NpmToken.d3628dc8-7cdd-3510-9a6c-6eda84c36ee8
